@import ./colors
@import ./reset

@font-face
  font-family: ProximaNova
  src: url('../fonts/ProximaNova-Regular.ttf')
  font-weight: normal
@font-face
  font-family: ProximaNova
  src: url('../fonts/ProximaNova-Semibold.ttf')
  font-weight: bold
@font-face
  font-family: ProximaNova
  src: url('../fonts/ProximaNova-Light.ttf')
  font-weight: lighter
body
  font-family: ProximaNova
  font-weight: normal
